@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Jura|Philosopher')
@import "gruvbox"
// @import "solarized"

// fonts
$header_font:   "Philosopher", Georgia, serif
$body_font:     "Jura", Helvetica, sans-serif
$mono_font:     "Anonymous Pro", monospace


:root
    text-align: center

body 
    font-size: 15pt
    color: $clr_fg
    background-color: $clr_bg
    h1, h2, h3, h4, h5, h6
        // color: $clr_hdr
        font-family: $header_font

p 
    font-family: $body_font
    &#disclaimer
        font: 12pt $mono_font
        // color: $clr_vlt
        color: $clr_prp
        font-style: oblique

#list
    color: $clr_red

/* TODO: 
 - nav bars
 - links
 - text boxes
 - image boxes
 - tables (?)
 - 
 */